* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  ;


}

.material-symbols-outlined {

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.message {
  background-color: #1e232d;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 12px;
  text-align: center;
  margin: auto;
}

#close {
  background-color: #1e232d;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bolder;

}

.navbar {
  display: flex;
  background-color: white;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 29;
}

.side-nav {
  background-color: #1e232d;
  padding: 10px;
  width: 60%;
  height: 90vh;
  color: white;
  position: absolute;
  left: -80%;
  z-index: 30;
}

.side-item {
  list-style: none;
  padding: 15px;
  padding-top: 20px;
}

.side-close {
  background-color: #1e232d;
  border: none;
  font-size: large;
  color: white;
  position: absolute;
  right: 15px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 900;
  font-size: 14px;
}

.menuIcon {
  background-color: white;
  position: absolute;
  border: none;
  right: 20px;
}

.items {
  display: none;
}

/* carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel  */


.carousel {
  position: relative;
  background-color: white;
  width: 100%;
  height: 500px;
}

.banner-img {
  position: absolute;
}

.banner {
  display: flex;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.5;
}

.carousel-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  z-index: 20;
  top: 38%;
}

#car-btn,
#car-btn2 {
  padding: 2%;
  font-size: 12px;
  border: none;
  color: white;
  background-color: transparent;
}

#car-btn {
  visibility: hidden;
}

.img1 {
  width: 100%;
  height: 100%;
}

.img2,
.img3 {
  display: none;
  width: 100%;
  height: 67.5vh;
}

.overlay2 {
  position: absolute;
  z-index: 11;
  top: 10%;
  left: 15%;
  right: 15%;

}

.overlay2 h6 {
  color: white;
  font-size: 63px;
  font-weight: 500;
}

.overlay2 h2 {
  color: white;
  font-weight: 100;
  font-size: 20px;
}

.field {
  width: 30%;
  right: 50px;
  display: inline-block;

}

.head {
  font-size: 93px;
  color: white;
  padding-left: 50px;
  margin-top: -25px;
}

.overlay2 legend {
  padding: 15px;
}

.new {
  background-color: #b27608;
  width: 74.2%;
  padding: 10px;
  padding-left: 73px;
  color: white;
  font-weight: 200;
  font-size: 20px;
}

.offer {
  color: white;
  font-size: 30px;
  font-weight: 100;
  padding: 15px;
  padding-left: 60px;
}

.shop-btn {
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #b27608;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  padding: 20px;
  margin-left: 25%;

}

.shoper {
  display: inline-block;
  margin-left: 10%;

}

.header {

  font-family: "Playwrite CU", cursive;
  font-weight: 100;
  font-size: 55px;
  color: white;

}

.arrival,
.arrival1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  position: relative;

}

.images {
  width: 19vw;
}

.arrival-head {
  font-size: 25px;
  border-top: 1px #e6e3e3 solid;
  border-bottom: 1px #e6e3e3 solid;
  font-family: Playwrite CU, cursive;
  display: flex;
  justify-content: center;
  font-weight: 200;
  color: black;
}

/* .overlay3{
  position: absolute;
  top:50%;
  left: 20%;

}
.overlay4{
  position: absolute;
  top:50%;
  left: 20%;

}.overlay5{
  position: absolute;
  top:50%;
  left: 20%;

}.overlay6{
  position: absolute;
  top:50%;
  left: 20%;

} */
.logo-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #fcfcfc;
  border-bottom: 1px #e6e3e3 solid;
  border-top: 1px #e6e3e3 solid;
}

.logos {
  width: 70px;
  height: 70px;
}

.brand-head {
  margin-top: 28px;
  padding: 15px;
  font-size: 30px;
  font-weight: 700;
  margin-left: 15px;
}

.container-2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
}

.para {
  background-image: url('/images/goldframe.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  width: 100%;
  height: 100%;
  padding: 3.8vw;
  text-align: center;
  border-radius: 8px;
}

.ab-head {
  text-align: center;
  font-size: 2.2vw;
  font-weight: 800;
  color:#6e5615;
  padding: px;
}

.cardboard {
  margin: auto;
  background-color: #1d232c;
  display: flex;
  justify-content: center;
  padding: 30px;
  color: white;
  width: 80%;
}

.card__img {
  width: 60%;
  height: 50vh;
}

.cardboard__items {
  margin: 4vw;
}

.button__b5 {

  background-color: black;
  margin-top: 20px;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 15px;
  font-weight: 600;
  font-size: 16px;
}

.container22 {
  display: flex;
  width: 100%;

}

.side-container {
  width: 20%;
  height: 500vh;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  text-align: center;
  margin-top: 10px;
}

.main-container {
  width: 80%;
  margin-top: -0.5vw;

}

.side-container button {
  border: none;
  border-bottom: 1px solid grey;
  color: #7E755D;
  background-color: beige;
  padding: 20px;
  width: 100%;

}

.side-container button:hover {
  transition: 1s;
  background-color: white;
}

.images1 {
  width: 15vw;

}


.womens-items h3 {
  padding: 13px;
  border-top: 1px #f5e2d0 solid;
  border-bottom: 1px #f5e2d0 solid;
}

.mens-items h3 {
  padding: 13px;
  border-top: 1px #f5e2d0 solid;
  border-bottom: 1px #f5e2d0 solid;
}

.kids-items h3 {
  padding: 13px;
  border-top: 1px #f5e2d0 solid;
  border-bottom: 1px #f5e2d0 solid;
}

.womens-items h3:hover {
  background-color: white;
}

.closebtn {
  background-color: white;
  border: none;
  display: inline;
}

.kids-items,
.mens-items,
.womens-items {
  width: 100%;
  background-color: #fffaf5;
  max-height: 0;
  background-color: white;
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
}

.mens-items.open,
.womens-items.open,
.kids-items.open {
  max-height: 310px;
}

.search-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searcher {
  border: 1px solid #b27608;
  font-size: 18px;
  margin: 10px;
  width: 75%;
  padding: 1vh;
  border-radius: 20px;
}

.filterer {
  display: none;
  justify-content: space-evenly;
  padding: 15px;
}

.filterer button {
  padding: 1.4%;
  width: 18%;
  background-color: white;
  border-radius: 7px;
  color: #7e7ed9;
  border: 1px solid #a1a1e6;
}

.filterer h2 {

  font-size: 1.6vw;
}

.img-frame h4 {
  text-align: center;
  padding: 1.3vh;
  font-size: 1.1vw;
  font-weight: 100;
}

.img-frame {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2vh;
}

.button__b6 {

  background-color: black;
  margin-top: 20px;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 15px;
  font-weight: 600;
  font-size: 16px;
}
.division3 {
  margin-top: 2vw;
margin-bottom: 2.5vw;

}




.image__i2:hover {
  opacity: 0.85;
  cursor: pointer;
}

.text1 {
  position: absolute;
  top: 216px;
  left: 30px;
  font-weight: 900;
  color: white;

}
.card {
  display: flex;
  justify-content: flex-start; /* Or center, as needed */
  width: 95%;
  margin-left: 2vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 2vw; /* Optional spacing between items */
}

.card__c1 {
  flex: 0 0 auto; /* Prevent shrinking */
  margin-top: 15px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.7vw;
}

.image__i2 {
  width: 20vw;
  height: 20vw;
  border-radius: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.menu-items{
  padding: 1.2vw;
}
/* key frameskey frameskey frameskey frameskey frameskey frameskey frameskey frameskey frameskey frameskey frameskey frameskey frameskey frames */

.animate {
  animation: mymove 2s forwards;
}

@keyframes mymove {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate1 {
  animation: mymove1 2s forwards;
  display: flex;
}

@keyframes mymove1 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.animate2 {
  animation: mymove2 2s forwards;
  display: flex;
}

@keyframes mymove2 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.animate3 {
  animation: mymove3 2s forwards;
  display: flex;
}

@keyframes mymove3 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}



/* media query media query media query media query media query media query media query media query media query media query media query  */
@media screen and (min-width:280px) {

  .img1,
  .img2,
  .img3 {
    width: 100%;
    height: 24.5vh;
  }

  .overlay {
    height: 24.5vh;
  }

  .carousel,
  .banner {
    height: 24.5vh;

  }

  .field {
    display: none;
  }

  .overlay2 h6 {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }

  .header {
    font-size: 20px;
    text-align: center;
  }

  .shop-btn {
    padding: 2px;
    font-size: 13px;
    margin-left: 0%;
  }

  .shoper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }

  .arrival-head {
    font-size: 10px;
  }

  .brand-head {
    margin-top: 10px;
    font-size: 15px;
    padding: 5px;
  }


}

@media screen and (min-width:600px) {
  .text {
    font-size: 16px;
  }

  .side-item {
    padding: 25px;
  }

  .img1,
  .img2,
  .img3 {
    width: 100%;
    height: 28.5vh;
  }

  .overlay {
    height: 28.5vh;
  }

  .carousel,
  .banner {
    height: 28.5vh;

  }

  .field {
    display: none;
  }

  .overlay2 h6 {
    font-size: 33px;
    text-align: center;
    padding-top: 1px;
  }

  .header {
    font-size: 20px;
    text-align: center;
  }

  .shop-btn {
    padding: 5px;
    font-size: 10px;
    margin-left: 0%;
  }

  .shoper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }

  .arrival-head {
    font-size: 15px;
  }

  .brand-head {
    margin-top: 15px;
    font-size: 20px;
    padding: 10px;
  }

}

@media screen and (min-width:800px) {

  .img1,
  .img2,
  .img3 {
    width: 100%;
    height: 34.5vh;
  }

  .overlay {
    height: 34.5vh;
  }

  .carousel,
  .banner {
    height: 34.5vh;

  }

  .brand-head {
    margin-top: 15px;
    font-size: 20px;
    padding: 18px;
  }


}

@media screen and (max-width:800px) {

  .logos {
    width: 35px;
    height: 35px;
  }


  .card__img {
    width: 100%;
    height: 50vw;
  }

  .cardboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-frame {
    padding: 1vw;
  }

}

@media screen and (max-width:400px) {

  .logos {
    width: 25px;
    height: 25px;
  }

}

@media screen and (max-width:710px) {



}

@media (max-width:2500px) and (max-height:600px) {
  .shoper {
    display: none;
  }

  .field {
    display: none;
  }

  .overlay2 h6 {
    font-size: 28px;
    margin-top: 2px;
    align-items: center;
  }

}

@media screen and (min-width:1000px) {
  .text {
    font-size: 18px;
  }

  .searcher {
    padding: 13px;
  }

  .navbar {
    padding: 0;
  }

  .side-nav {
    display: none;
  }

  .brand-name {
    margin-left: 20px;
    font-size: 25px;
  }

  .menuIcon {
    display: none;
  }

  .items {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: #6b6b6b;
  }

  .item {
    height: 25px;
    padding: 18px;
  }

  .item:hover {
    height: 25px;
    padding: 18px;
    transition: 1s;
    background-color: beige;

  }

  #car-btn,
  #car-btn2 {
    font-size: 25px;
  }

  .img1,
  .img2,
  .img3 {
    width: 100%;
    height: 54.5vh;
  }

  .overlay {
    height: 54.5vh;
  }

  .carousel,
  .banner {
    height: 54.5vh;

  }

  .field {
    display: none;
  }

  .overlay2 h6 {
    font-size: 55px;
    text-align: center;
    padding-top: 6px;
  }

  .header {
    font-size: 45px;
    text-align: center;
  }

  .shop-btn {
    padding: 15x;
    font-size: 18px;
    margin-left: 0%;
  }

  .shoper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }

  .arrival-head {
    font-size: 20px;
  }

  .brand-head {
    margin-top: 15px;
    font-size: 25px;
    padding: 15px;
  }

}

@media screen and (max-width:1000px) {
  .container {
    display: block;

  }

  .side-container {
    width: 100%;
  }

  .main-container {
    width: 100%;
  }

  .side-container {
    display: none;
  }

  .filterer {
    display: flex;
  }


}

@media screen and (min-width:1300px) {

  .img1,
  .img2,
  .img3 {
    width: 100%;
    height: 60.5vh;
  }

  .overlay {
    height: 60.5vh;
  }

  .carousel,
  .banner {
    height: 60.5vh;

  }

  .overlay2 h6 {
    font-size: 65px;
  }


}

@media screen and (min-width:1400px) {
  .field {
    display: none;
  }
}

@media screen and (min-width:1500px) {

  .img1,
  .img2,
  .img3 {
    width: 100%;
    height: 64.5vh;
  }

  .overlay {
    height: 64.5vh;
  }

  .overlay2 h6 {
    font-size: 63px;

  }

  .carousel,
  .banner {
    height: 64.5vh;

  }

  .overlay2 {
    position: absolute;
    z-index: 11;
    top: 10%;
    left: 15%;
    right: 15%;

  }

  .overlay2 h6 {
    color: white;
    font-size: 63px;
    font-weight: 500;
    text-align: left;

  }

  .overlay2 h2 {
    color: white;
    font-weight: 100;
    font-size: 20px;

  }

  .field {
    width: 30%;
    right: 50px;
    display: inline-block;

  }

  .head {
    font-size: 93px;
    color: white;
    padding-left: 50px;
    margin-top: -25px;
  }

  .overlay2 legend {
    padding: 15px;
  }

  .new {
    background-color: #b27608;
    width: 74.2%;
    padding: 10px;
    padding-left: 73px;
    color: white;
    font-weight: 200;
    font-size: 20px;
  }

  .offer {
    color: white;
    font-size: 30px;
    font-weight: 100;
    padding: 15px;
    padding-left: 60px;
  }

  .shop-btn {
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #b27608;
    background-color: transparent;
    border-radius: 4px;
    color: white;
    padding: 20px;
    margin-left: 25%;

  }

  .shoper {
    display: inline-block;
    margin-left: 10%;

  }

  .header {

    font-family: "Playwrite CU", cursive;
    font-weight: 100;
    font-size: 55px;
    color: white;

  }

  .arrival-head {
    font-size: 25px;
  }

  .container {
    margin-top: 45px;
  }

}

;